@font-face{
  font-family: 'kang';
  src: url("../font/kang.ttf");
  }

$font-color : #3d3d3d;


// STORY

.story-container {
  display: flex;
  position: relative;
  height: 115px;
  width: 100%;
  border-bottom: 1px solid #ebebeb;
  .story-circles {
    display: flex;
    list-style: none;
    padding-left: 0;
    li {
      img {
        width: 70px;
        margin-left: 15px;
      }
      span {
        font-family: 'kang', sans-serif;
        font-size: 16px;
        color: $font-color;
        display: block;
        text-align: center;
        margin-top: 3px;
        margin-left: 15px;
      }
    }
  }
}

// MY-NAME


.my-name-container {
  display: flex;
  top: 0;
  width: 100%;
  height: 65px;
  .profile {
    height: 65%;
    width: auto;
    margin: auto 15px;
  }
  span {
    font-family: 'kang', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: $font-color;
    margin: auto 0;
    transform: translateY(-3px);
  }
  .badge {
    padding: 0;
    width: auto;
    height: 20%;
    margin: auto 8px;
  }
}

 /* FILE UPLOAD */
 .file-upload {
  position: relative;
  background-color: #fff;
  width: 100%;
  margin: 0 auto;
}


.file-upload-content {
  display: none;
  text-align: center;
  min-width: 300px;
  width: 95%;
  height: 95%;
  margin: auto;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 95%;
  height: 95%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.file-upload-image {
  display: block;
  max-width: 95%;
  margin: auto;
}

.image-upload-wrap {
  position: relative;
  object-fit: contain;
  background-color: #ffffff;
  background-image: url('../../public/images/square.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 200px;
  min-height: 200px;
  max-width: 630px;
  max-height: 630px;
  width: 95vw;
  height: 95vw;
  margin: auto;
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: #e4e4e4;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
  padding-top: 0;
  .upload-text {
    font-weight: 100;
    color: #9b9b9b;
    font-family: 'kang';
    font-size: 22px;
    font-weight: 700;
    line-height: 1.53;
    padding-top: 25%;
    margin: auto;
    .tip {
      font-size: 18px;
      font-weight: 400;
    }
  }
}




/* BOTTOM ICONS */
.bottom-icons-container {
display: flex;
width: 100%;
height: 50px;
  img {
  width: 26px;
  height: 26px;
  margin: 12px 0 0 17px;
  }
}

/* RESULT */
.result {
margin: 5px 10px 10px 17px;

  #label-container {
  width: 80%;
  color: $font-color;
  font-family: 'kang';
  font-size: 18px;
  font-weight: 700;
  }

  .result-message {
  font-family: 'kang';
  font-size: 18px;
  font-weight: 700;
  color: $font-color;
  margin-top: 10px;
  }
}